.main-content {
    padding: 20px;
    background-color: #ecf0f1;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  
  }

.todos {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 40%;
    height: 70%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 50px;
    position: relative;
}

.todos-list {
    height: 400px;
    overflow-y: auto;
}

.todos h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}

.todos ul {
    list-style: none;
    padding: 0;
}

.todos li {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin: 10px 0;
    background-color: #fdfdfd;
    display: flex; 
    align-items: center; 
}

.todo-span {
    flex-grow: 1; 
    text-align: left;
}

.todos .completed .todo-span {
    text-decoration: line-through;
    color: #888;
}

.add-todo-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #1abc9c;
    color: white;
    font-size: 36px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-todo-btn:hover {
    background-color: #0a6b58;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.popup-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.popup-buttons {
    display: flex;
    justify-content: right;
}

.popup-ok,
.popup-cancel {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 8px;
}

.popup-ok {
    background-color: #1abc9c;
}

.popup-cancel {
    background-color: #e83229;
}

.popup-ok:hover {
    background-color: #0a6b58;
}

.popup-cancel:hover {
    background-color: #851009;
}

.Delete {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto; 
}

.Delete:hover {
    background-color: #d32f2f;
}

.Edit {
    background-color:#1abc9c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 7px;
    text-decoration:none;
}

.Edit:hover {
    background-color: #0a6b58;
}

.completed, .complete{
    margin-right: 8px;
    
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 7px;
    text-decoration:none;
    
}

.completed{
    background-color: rgb(185, 185, 14);
}

.complete{
    background-color: rgb(25, 124, 200);
    color: white;
}